<!doctype html>
<html lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </head>
<body ng-app="NarrowItDownApp">
   <div class="container" ng-controller="NarrowItDownController as ctl">
    <h1>Narrow Down Your Chinese Menu Choice</h1>
    <div class="form-inline">
      <div class="form-group">
        <input type="text" ng-model="val" placeholder="search term" class="form-control">
      </div>
      <button ng-click=ctl.search() class="btn btn-primary">Narrow It Down For Me!</button>
    </div>

    <!-- Bonus loader (see Bonus section of the assignment) -->
    <items-loader-indicator></items-loader-indicator>
    <!-- found-items should be implemented as a component -->
    <found-items found="ctl.found" on-remove="ctl.removeFound(index)"/>

  </div>

</body>
</html>
